 <%= form_for @post do |f| %>
    <div class="panel-body">
                        
        <div class="form-group">
            <label class="col-md-2 text-warning">Title : </label><br>
            <%= f.text_field :title, size: "70" %>
        </div>

         <div class="form-group">
             <label class="col-md-2 text-warning">Content : </label><br>
            <%= f.text_area :body, size: "70x5" %>
        </div>

    </div>
    <div class="panel-footer">
         <%= f.submit %>
    </div>
<%end%>