
<div class="card text-center mt-5">
  <div class="card-header">
    Posts
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= @post.title %></h5>
    <p class="card-text"> <%= @post.body %></p>
    <%= link_to "Edit Post", edit_post_path(@post), :class => "btn btn-primary"%>
    <%= link_to "Delete", post_path(@post), :class => "btn btn-danger ml-2", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
  <div class="card-footer text-muted">
    2 Day Ago
  </div>
</div>


