<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">MEY</a>
  <form class="form-inline">
   <%= link_to "Home", root_path, :class => "btn btn-outline-primary" %>
    <div style="padding-left: 10px;">
      <%= link_to "New Post", new_post_path, :class => "btn btn-outline-success" %>
    </div>
  </form>
</nav>